*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    overflow: hidden;
}
body {
    background-color: var(--color-background-principal);
}
div{
    overflow: hidden;
}
label{
    overflow: hidden;
}
span{
    overflow: hidden;
}
p{
    overflow: hidden;
}
a{
    overflow: hidden;
}
h1{
    overflow: hidden;
}
h2{
    overflow: hidden;
}
img{
    overflow: hidden;
}
input{
    overflow: hidden;
}
:root{
    --color-azul-superior: #2fc1f4;
    --color-azul-inferior: #2baae1;
    --color-azul-letras: #32bef3;
    --color-blanco: #ffffff;
    --color-backgounds-azules: #007db373;
    --color-background-principal: #1e5774;
}


/*Responsives de Moviles*/
/*********************************************************/

/*Movil Pequeño*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/


/*Movil Mediano*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/


/*Movil Grande*/
/*-------------------------------------------------------*/
@media screen and (min-width: 10px) and (max-width: 425px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    overflow: hidden scroll;
}
/*encabezado de pagina*/
.header-mobile{
    display: flex;
    width: 100%;
    height: 35px;
    color: white;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.logo-superior{
    display: flex;
    height: 35px;
    padding: 4px;
}
.logo-superior img {
    border-radius: 50%;
    display: block;
}
.titulo-principal{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; 
}
.titulo-principal h1{
    font-size: 25px;

}
.huellas-en-titulo{
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
}
.huellas-en-titulo h1{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: block;
}

.header-large{
    display: none;
}

/*****Inicia contenido general de pagina
a travez de un <main>********/

/*imagenes deslizables*/
.section_slider{
    height: 320px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px; 
    padding-bottom: 30px;
    background-image: url(./multimedia/logo-largo.webp);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
input[type=radio]{
    display: none;
}
.container_slider{
    width: 95%;
    height: 90%;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
}
.card{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
}
#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.6);
    opacity: 0.9;
    margin-right: 40%;
    z-index: 0;
}
#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.6);
    opacity: 0.9;
    margin-left: 40%;
    z-index: 0;
    /*Imagen derecha*/
}
#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0%) scale(1);
    z-index: 1;
}

/*primer contenedor informativo (sobre nosotros)*/
.container-nosotros {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-azul-inferior);
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 2%;
}
.logo-nosotros{
    width: 40%;
    text-align: center;
    padding-right: 1%;
}
.logo-nosotros img{
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.logo-nosotros h2{
    text-align: center;
    font-size: 20px;
}
.somos{
    width: 60%;
    padding-left: 1%;
}
.somos p{
    text-align: left;
    font-size: 16px;
}

/*segundo contenedor informativo (porque adoptar)*/
.container-adopcion {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-azul-inferior);
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 2%;
    flex-direction: row-reverse;
}
.logo-adopta {
    width: 40%;
    text-align: center;
    padding-left: 1%;
}
.logo-adopta img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.logo-adopta h2{
    text-align: center;
    font-size: 20px;
}
.adopta-porque {
    width: 60%;
    padding-right: 1%;
}
.adopta-porque p{
    text-align: left;
    font-size: 16px;
}

/*seccion de adopcion*/
.container-title{
    margin: 2%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}
.title-adopcion{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    background-color: var(--color-azul-inferior);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
}
.title-adopcion h2{
    color: var(--color-blanco);
    font-size: 25px;
    width: 80%;
}
.title-adopcion p{
    font-size: 20px;
}
.slogan-adopcion{
    width: 240px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
}
.slogan-adopcion p{
    font-size: 13px;
    color: var(--color-background-principal);
}

/*************************************/
/*Inicia seccion de adopcion*/
.container-catalogo{
    margin: 2%;
    margin-bottom: 4%;
}
.preview-top{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: auto;
    background-color: var(--color-azul-inferior);
    margin-top: 0%;
    margin-bottom: 3%;
}
.preview{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: auto;
    background-color: var(--color-azul-inferior);
    margin-top: 3%;
    margin-bottom: 3%;
}
.preview-bottom{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: auto;
    background-color: var(--color-azul-inferior);
    margin-top: 3%;
    margin-bottom: 0%;
}
.container-img-dog{
    width: 30%;
    height: 150px;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-left: 1.25%;
    padding-right: 0.75%;
}
.container-img-dog img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.container-detalles-dog{
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-left: 0.75%;
    padding-right: 1.25%;
    width: 70%;
}
.container-detalles-dog p{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    padding: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
}

/*Aqui inicia seccion de formulario*/
.section_registro {
    background-image: url(./multimedia/registro-background.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.registrate-titulo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-blanco);
    background-color: var(--color-azul-inferior);
    text-align: center;
    margin: auto;
    width: 96%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.form-container{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2c5a6fa6;
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
}
.form-nombre {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.form-telefono {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.form-correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}
.boton-enviar{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.input-enviar{
    display: flex;
    width: 80%;
    height: 30px;
    justify-content: center;
    font-weight: 300;
}
.inputs-form {
    background-color: #f5f6f7;
    border-color: rgba(0, 0, 0, .07)
    rgba(0, 0, 0, .11) rgba(0, 0, 0, .2);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    content: '';
    width: 80%;
    height: 35px;
}
.opcional{
    font-size: 70%;
    color: rgb(199, 199, 199);
}


.titulo-contactos{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-blanco);
    text-align: center;
    background-color: var(--color-azul-inferior);
    width: 96%;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
}
.siguenos{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    color: var(--color-blanco);
    font-size: 100%;
    align-items: center;
    margin: 2%;
    background-color: var(--color-azul-inferior);
    padding: 2%;
}
.siguenos-texto{
    width: 50%;
    padding-right: 1%;
}
.siguenos-img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height: 300px;
    padding-left: 1%;
    object-fit: cover;
}

.container-redes{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    margin: 2%;
    margin-bottom: 3%;
    background-color: var(--color-azul-inferior);
    padding: 1%;
}
.incitar-follow{
    width: 50%;
    padding-right: 1%;
}
.incitar-follow img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.enlaces-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.enlaces-redes a{
    color: black;
}
.red-link-container{
    display: flex;
    width: 100%;
    font-size: 6px;
    align-items: center;
    padding: 1.5%;
}
.red-link-container h2{
    padding-left: 2%;
}
.red-icon{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}




.developing{
    background-color: #282828;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.areas{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 1%;
    color: gray;
}
.areas a{
    display: flex;
    align-items: center;
    padding: 1%;
}
.areas h2{
    width: 45%;
    text-align: left;
    margin-right: auto;
    color: rgb(172, 172, 172);
    font-size: 8px;
    font-weight: 200;
    border-right-width: 1px;
    border-right-color: rgb(172, 172, 172);
}
.areas h3{
    width: 55%;
    color: rgb(172, 172, 172);
    text-align: right;
    margin-left: auto;
    font-size: 8px;
    font-weight: 100;
}
.areas hr{
    height: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.declaraciones{
    color: gray;
    font-size: 7px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    color: rgb(172, 172, 172);
}





}
/*-------------------------------------------------------*/
/*********************************************************/

/*Responsives Tablets*/
/*********************************************************/

/*Tablet Pequeña*/
