@media screen and (min-width: 828px) and (max-width: 1980px) {
    body {
        margin: 0;
        padding: 0;
        background: #121212;
        color: white;
        min-height: 100vh;
    }
    
    body, .cubo, .text_load {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .container {
        width: 20%;
        height: 300px;
    }
    
    .cubo {
        height: 60;
        transform-style: preserve-3d;
        animation: rotar 8s linear infinite;
    }
    
    .cubo > span {
        position: absolute;
        width: 4em;
        height: 4em;
        border: 2px solid white;
        box-shadow: inset 0px 0px 15px 5px rgba(67, 195, 255, .2), 0px 0px 40px 1px rgba(67, 195, 255, .2);
        border-radius: 5px;
    }
    
    .cubo > span:nth-child(1){transform: rotateY(90deg)translateZ(2em);}
    .cubo > span:nth-child(2){transform: rotateY(90deg)translateZ(-2em);}
    .cubo > span:nth-child(3){transform: rotateY(90deg)translateZ(-2em);}
    .cubo > span:nth-child(4){transform: rotateY(90deg)translateZ(2em);}
    .cubo > span:nth-child(5){transform: rotateZ(90deg)translateZ(-2em);}
    .cubo > span:nth-child(6){transform: rotateZ(90deg)translateZ(2em);}
    
    .text_load {
        height: 360px;
    }
    
    @keyframes rotar {
        0%{transform: rotateY(0deg)rotateX(0deg);}
        50%{transform: rotateY(360deg)rotateX(360deg);}
        100%{transform: rotateY(0deg)rotateX(0deg);}
    }
    
    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 118px;
    }
    
    /*
    p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 20px;
    }*/
    
    .newton {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 142px;
        height: 40px;
        margin: -20px 0 0 -70px;
        background-color: transparent;
        filter: contrast(20);
        margin-top: 15px;
    }
    
    .newton .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        left: 15px;
        /*filter: blur(4px);*/
        background: white;
        border-radius: 50%;
        transform: translateX(0);
        animation: dot 2.8s infinite;
    }
    
    .newton .dots {
        transform: translateX(0);
        margin-top: 12px;
        margin-left: 31px;
        animation: dots 2.8s infinite;
    }
    
    .newton .dots span {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 16px;
        /*filter: blur(4px);*/
        background: white;
        border-radius: 50%;
    }
    
    .mantenimiento {
        display: flex;
        text-align: center;
        margin-top: 86px;
    }
    
    p {
        font-size: 22px;
    
    }
    .p1 {
        margin-right: 6px;
        padding-right: 3px;
        margin-left: auto;
    }
    
    .p2 {
        margin-right: auto;
    }
    
    @-moz-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-webkit-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-o-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-moz-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @-webkit-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @-o-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
}


@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background: #121212;
        color: white;
        min-height: 100vh;
    }
    
    body, .cubo, .text_load {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .container {
        width: 100%;
        height: 300px;
    }
    
    .cubo {
        height: 60;
        transform-style: preserve-3d;
        animation: rotar 8s linear infinite;
    }
    
    .cubo > span {
        position: absolute;
        width: 4em;
        height: 4em;
        border: 2px solid white;
        box-shadow: inset 0px 0px 15px 5px rgba(67, 195, 255, .2), 0px 0px 40px 1px rgba(67, 195, 255, .2);
        border-radius: 5px;
    }
    
    .cubo > span:nth-child(1){transform: rotateY(90deg)translateZ(2em);}
    .cubo > span:nth-child(2){transform: rotateY(90deg)translateZ(-2em);}
    .cubo > span:nth-child(3){transform: rotateY(90deg)translateZ(-2em);}
    .cubo > span:nth-child(4){transform: rotateY(90deg)translateZ(2em);}
    .cubo > span:nth-child(5){transform: rotateZ(90deg)translateZ(-2em);}
    .cubo > span:nth-child(6){transform: rotateZ(90deg)translateZ(2em);}
    
    .text_load {
        height: 360px;
    }
    
    @keyframes rotar {
        0%{transform: rotateY(0deg)rotateX(0deg);}
        50%{transform: rotateY(360deg)rotateX(360deg);}
        100%{transform: rotateY(0deg)rotateX(0deg);}
    }
    
    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 118px;
    }
    
    /*
    p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 20px;
    }*/
    
    .newton {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 142px;
        height: 40px;
        margin: -20px 0 0 -70px;
        background-color: transparent;
        filter: contrast(20);
        margin-top: 76px;
    }
    
    .newton .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        left: 15px;
        /*filter: blur(4px);*/
        background: white;
        border-radius: 50%;
        transform: translateX(0);
        animation: dot 2.8s infinite;
    }
    
    .newton .dots {
        transform: translateX(0);
        margin-top: 12px;
        margin-left: 31px;
        animation: dots 2.8s infinite;
    }
    
    .newton .dots span {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 16px;
        /*filter: blur(4px);*/
        background: white;
        border-radius: 50%;
    }
    
    .mantenimiento {
        margin-top: 100px;
    }
    
    p {
        font-size: 20px;
    }
    
    @-moz-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-webkit-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-o-keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @keyframes dot {
        50% {
            transform: translateX(96px);
        }
    }
    
    @-moz-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @-webkit-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @-o-keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
    @keyframes dots {
        50% {
            transform: translateX(-31px);
        }
    }
    
}
