@media screen and (min-width: 375px) and (max-width: 425px) {
    body {
        background: var(--c-4);
    }

    .header_movil {
        display: flex;
        width: 100%;
        height: 100px;
        background: var(--c4);
        justify-content: space-around;
        border-radius: 0px 0px 40px 40px;
        -webkit-border-radius: 0px 0px 40px 40px;
        -moz-border-radius: 0px 0px 40px 40px;
        -ms-border-radius: 0px 0px 40px 40px;
        -o-border-radius: 0px 0px 40px 40px;
        overflow: hidden;
    }

    .header_movil_logo {
        display: flex;
        height: 100%;
        align-items: center;
        background: var(--c4);
    }

    .header_movil_logo img {
        height: 45%;
        border-radius: 50%;
        animation: scale1 3s;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-animation: scale1 3s;
    }

    .header_movil_titulo {
        display: flex;
        text-align: center;
        height: 100%;
        align-items: center;
    }

    .header_movil_titulo h1 {
        font-size: 24px;
        color: var(--c-4);
        animation: deslizar1 2s;
        -webkit-animation: deslizar1 2s;
    }

    .section_welcome_movil {
        display: flex;
        width: 100%;
        height: 130px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .section_welcome_movil h2 {
        display: flex;
        width: 96%;
        height: 50px;
        font-size: 21px;
        font-weight: 100;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.7;
        align-items: center;
        animation: deslizar2 2s;
        -webkit-animation: deslizar2 2s;
    }

    .section_welcome_movil input {
        display: flex;
        width: 96%;
        height: 32px;
        box-shadow: 0 0 10px black;
        border-width: 0px;
        padding-left: 4px;
        animation: opacity1 3s;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        -webkit-animation: opacity1 3s;
    }

    .section_menu_movil {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        background: var(--c-4);
        box-shadow: 0px 7px 10px -8px;
        margin-bottom: 2%;
        margin-top: 1%;
        z-index: 2;
        border-radius: 0px 0px 25px 25px;
        -webkit-border-radius: 0px 0px 25px 25px;
        -moz-border-radius: 0px 0px 25px 25px;
        -ms-border-radius: 0px 0px 25px 25px;
        -o-border-radius: 0px 0px 25px 25px;
        overflow: hidden;
        position: sticky;
        top: 0px;
        overflow: hidden;
    }

    .menu_movil_barra {
        display: flex;
        height: 100%;
        width: 96%;
    }

    .menu_movil_barra ul {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        animation: deslizar1 2s ease;
        -webkit-animation: deslizar1 2s ease;
    }

    .menu_movil_barra li {
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .menu_movil_barra a {
        display: flex;
        width: 100%;
        color: var(--c4);
        font-size: 15px;
        font-weight: 600;
        justify-content: center;
    }

    .bot_inicio_movil {
        box-shadow: 0 3px var(--c2);
    }

    .section_novedad_movil {
        display: flex;
        width: 100%;
        height: 170px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        animation: deslizar2 2s;
        -webkit-animation: deslizar2 2s;
    }

    .novedad_article_movil {
        display: flex;
        background: var(--c1);
        width: 96%;
        height: 87%;
        align-items: center;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }

    .novedad_article_imagen_movil {
        display: flex;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .novedad_article_imagen_movil img {
        width: 85%;
        height: 85%;
        display: block;
        object-fit: cover;
        outline: 5px black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .novedad_article_text_movil {
        width: 60%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .novedad_article_text_movil h2 {
        display: flex;
        width: 90%;
        height: 25%;
        align-items: center;
    }

    .novedad_article_text_movil p {
        display: flex;
        width: 90%;
    }

    .novedad_article_text_movil a {
        display: flex;
        width: 90%;
        height: 30px;
        align-items: center;
        justify-content: center;
        background: var(--c-3);
        border-radius: 50px;
        color: var(--color-blanco1);
    }

    .section_foda_movil {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-bottom: 3px;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .articles_foda_movil {
        display: flex;
        width: 96%;
        flex-direction: column;
        background: var(--c1);
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3%;
        padding: 3% 0%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .articles_tags_movil {
        display: flex;
        width: 94%;
        height: 168px;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 50px;
        animation: opacity1 4s;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        -webkit-animation: opacity1 4s;
    }

    .articles_tags_movil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0px -30px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .articles_text_movil {
        display: flex;
        width: 94%;
        height: 440px;
        margin-top: 3%;
        flex-direction: column;
        background: var(--c-3);
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .articles_text_movil h2 {
        display: flex;
        width: 94%;
        height: 10%;
        font-size: 20px;
        align-items: center;
        animation: opacity1 4s;
        -webkit-animation: opacity1 4s;
    }

    .articles_text_movil p {
        display: flex;
        width: 94%;
        height: 85%;
        font-size: 16px;
        align-items: start;
    }

    .section_slider {
        width: 96%;
        height: 220px;
        margin-top: 5%;
        margin-bottom: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: top;
        overflow: hidden;
    }

    input[type=radio] {
        display: none;
    }

    .container_slider {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 600px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .cards {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .card {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow: hidden;
    }

    .card img {
        width: 100%;
        height: 100%;
        align-items: center;
        -o-object-fit: cover;
        object-fit: cover;
    }

    #item-2:checked~.cards #selector-1,
    #item-1:checked~.cards #selector-3,
    #item-3:checked~.cards #selector-2 {
        transform: translateX(-40%) scale(0.6);
        opacity: 0.9;
        margin-right: 40%;
        z-index: 0;
    }

    #item-3:checked~.cards #selector-1,
    #item-1:checked~.cards #selector-2,
    #item-2:checked~.cards #selector-3 {
        transform: translateX(40%) scale(0.6);
        opacity: 0.9;
        margin-left: 40%;
        z-index: 0;
        /*Imagen derecha*/
    }

    #item-1:checked~.cards #selector-1,
    #item-2:checked~.cards #selector-2,
    #item-3:checked~.cards #selector-3 {
        transform: translateX(0%) scale(1);
        z-index: 1;
    }

    /*?controla los foda pequeños*/
    .separador_formato_articles {
        display: flex;
        width: 96%;
        justify-content: space-between;
    }

    .mini_articles_foda_movil {
        width: 48.5%;
        display: flex;
        flex-direction: column;
        background: var(--c2);
        border-radius: 25px;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3%;
        padding: 2% 1%;
    }

    .mini_articles_foda_movil:first-child {
        animation: deslizar2 2s;
        -webkit-animation: deslizar2 2s;
    }

    .mini_articles_foda_movil:last-child {
        animation: deslizar1 2s;
        -webkit-animation: deslizar1 2s;
    }

    .mini_articles_tags_movil {
        width: 94%;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        position: sticky;
        top: 50px;
        overflow: hidden;
    }

    .mini_articles_tags_movil img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    }

    .mini_articles_text_movil {
        width: 94%;
        height: 250px;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        background: var(--c-3);
        justify-content: space-evenly;
        align-items: center;
        border-radius: 25px;
        z-index: 1;
    }

    .mini_articles_text_movil h2 {
        display: flex;
        width: 94%;
        height: 10%;
        font-size: 20px;
        align-items: center;
    }

    .mini_articles_text_movil p {
        display: flex;
        width: 94%;
        height: 85%;
        font-size: 16px;
        align-items: start;
    }

    .section_mapa_movil {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        margin-bottom: 4%;
    }

    .section_mapa_movil article {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--c4);
        padding: 2.5% 0%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .mapa_croquis_movil {
        width: 94%;
        height: 180px;
    }

    .mapa_croquis_movil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .mapa_direcciones_movil {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 94%;
        margin-top: 3%;
    }

    .mapa_direcciones_movil a {
        display: flex;
        color: var(--c-4);
        height: 50px;
        align-items: center;
    }

    .mapa_buttom_contactos_movil {
        display: flex;
        justify-content: right;
        align-items: end;
        height: 40px;
        width: 94%;
    }

    .mapa_buttom_contactos_movil a {
        display: flex;
        background: var(--c-4);
        height: 25px;
        font-size: 15px;
        color: var(--c4);
        width: 160px;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .developing {
        display: flex;
        background-color: #282828;
        margin: auto;
        flex-direction: column;

    }

    .areas {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4%;
        margin-bottom: 1%;
        color: gray;
    }

    .areas a {
        display: flex;
        align-items: center;
        padding: 1%;
    }

    .areas h2 {
        width: 45%;
        text-align: left;
        margin-right: auto;
        color: rgb(172, 172, 172);
        font-size: 8px;
        font-weight: 200;
        border-right-width: 1px;
        border-right-color: rgb(172, 172, 172);
    }

    .areas h3 {
        width: 55%;
        color: rgb(172, 172, 172);
        text-align: right;
        margin-left: auto;
        font-size: 8px;
        font-weight: 100;
    }

    .areas hr {
        height: 1px;
        border-top-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }

    .declaraciones {
        color: gray;
        font-size: 7px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        margin: 2%;
        margin-top: 1%;
        margin-bottom: 4%;
        padding-bottom: 2%;
        color: rgb(172, 172, 172);
    }


    /*? Objetos a ocultar en moviles*/
    .header-escritorio,
    .header-tablet,
    .contenido-general-escritorio {
        display: none;
    }
}